html, body {
    font-size: 25px;
    text-align: center;
}

.main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#input-box {
    border: 2px solid aqua;
    border-radius: 30px;
    padding: 10px;
    text-align: center;
}

.btn {
    margin-top: 1em;
    border: 2px solid lightgreen;
    border-radius: 30px;
    background-color: white;
    padding: 5px 10px;
}

.btn:hover {
    background-color: bisque;
    cursor: pointer;
}

.temperature {
    color: orange;
}
